
.heading {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  margin: 0 10px;
  color: #393E46;
}




.pagelogo {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  margin: 0 10px;
}
.pagelogo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


 
 .richEditor {
  font-family: "Montserrat", sans-serif;
  padding: 8px;

  resize: none;
  font-size: 16px;
  line-height: 1.5;
  outline: none;

  background-color: #222831;
  border: none;
  color: #ffffff;

  width: 100%;
  height: 93%;
  box-sizing: border-box;

  overflow-y: scroll;
}

.markfont {
  font-family: "Space Mono", monospace;
}



.toolbar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;

  background-color: #393e46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;

  padding: 8px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;

  color: #928869;

  background-color: #272822;

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: center;
}

.titleArea {
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd369;
}
.characterstyles {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.previewbuttonarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #eeeeee;
  height: 30px;
}

 
