.heading {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  margin: 0 10px;
  color: #393e46;
}

.pagelogo {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  filter: drop-shadow(3px 3px 10px rgb(34, 40, 49, 0.2));
  margin: 0 10px;
}
.pagelogo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.richEditor {
  font-family: "Montserrat", sans-serif;
  width: 100%;

  padding: 0 10%;
  font-weight: 500;
  resize: none;
  font-size: 1.1rem;
  line-height: 1;

  outline: none;

  color: #222831;
  border: none;
  background-color: #eeeeee;
  flex: 1;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: initial; */

  word-wrap: break-word;

  overflow-y: auto;
}

.markfont {
  font-family: "Overpass Mono", monospace;
  font-weight: 400;
}

.toolbar {
  background-color: #eeeeee;
  padding: 5% 10%;
  margin-top: 5%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;

  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;

  color: #928869;

  background-color: #272822;

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: center;
}

.titleArea {
  border: none;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: "Montserrat";
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd369;
}
.characterstyles {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stylebutton:hover {
  cursor: pointer;
}

.previewbuttonarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  background-color: transparent;
  height: 30px;
}
