html,
body {
  margin: 0;
  padding: 0;
}
.sidebar {
  height: 100vh;

  background-color: #222831;
}

.headerSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  box-sizing: border-box;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 6px 6px; */

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: center;
}

img {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(9, 27, 27));
  filter: drop-shadow(3px 3px 10px rgb(29, 27, 27));
}
img:hover {
  transform: rotate(-10deg);
}
