.sidebar {
  height: 100vh;
  overflow: hidden;

  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1% 0;
  box-sizing: border-box;
}

.headerSide {
  display: flex;
  margin: 20px 0px;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 10%;
  top: 0;
  /* background-color: red; */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 6px 6px; */

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: center;
}
.typeheader{
  -webkit-filter: drop-shadow(3px 3px 10px rgb(2,2,2));
  filter: drop-shadow(3px 3px 10px rgb(2, 2, 2));
  color: #FFD369;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 0% 4%;

  font-size: 1rem;
}
.logo {
  -webkit-filter: drop-shadow(3px 3px 10px rgb(9, 27, 27));
  filter: drop-shadow(3px 3px 10px rgb(29, 27, 27));
}

.logo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.container {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  /* background-color: aquamarine; */
  padding: 0 4%;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* background-color: #ffd369; */
  height: auto;
  max-height: 40%;
}
.container::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #ffd369;
}
