.sidebar {
  height: 100vh;
  overflow: hidden;

  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1% 0;
  box-sizing: border-box;
}

.headerSide {
  display: flex;
  margin: 20px 0px;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 10%;
  top: 0;
  /* background-color: red; */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 6px 6px; */

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: center;
}
.typeheader {

  justify-content: space-around;
  color: #ffd369;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 0% 4%;

  font-size: 1rem;
}

.typeheaderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.productivitycontainer {
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Montserrat";
  word-spacing: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.tag {
  margin: 2px;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
}
.tagshadow {
  -webkit-filter: drop-shadow(2px 4px 6px #ff4a4a);
  filter: drop-shadow(2px 4px 6px #ff4a4a);
}
.tagtitleshadow {
  -webkit-filter: drop-shadow(2px 4px 6px #42855b);
  filter: drop-shadow(2px 4px 6px #42855b);
}

.productivitycontainer div {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}
.typeheaderRow div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.typeheader .typeicon {
  font-size: 1.3rem;
  cursor: pointer;
}

.typeheaderRow div p {
  margin-left: 10px;
  font-weight: bolder;
}
.logo {
  /* -webkit-filter: drop-shadow(3px 3px 10px rgb(9, 27, 27)); */
  filter: drop-shadow(3px 3px 15px rgb(57, 62, 70,0.9));
}

.logo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.container {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  /* background-color: aquamarine; */
  padding: 0 4%;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* background-color: #ffd369; */
  height: auto;
  max-height: 40%;
}
.container::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #ffd369;
}
