
.titlelistbackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;

}
.titleScroll {
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  background-color: #eeeeee;
}
.titleheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  box-sizing: border-box;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #eeeeee;
  box-shadow: rgb(34, 40, 49,0.2) 0px 7px 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #393E46;

  text-align: center;
}


.icons{
  font-size: 23px;
}
.title {
  width: 100%;

  font-family: "Montserrat", sans-serif;
  font-weight: normal;

  text-align: start;
  font-size: small;
  border-bottom: 0.5px solid rgb(67, 67, 67, 0.2);
}

/* width */


/* Handle on hover */
