.titlelistbackground {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: #eeeeee;
  height: 100vh;
}
.titleScroll {
  box-sizing: border-box;
  flex: 9;
  padding: 2px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: #eeeeee;
}
.titleheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5% 8px;

  box-sizing: border-box;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #eeeeee;
  box-shadow: rgb(34, 40, 49, 0.2) 0px 7px 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #393e46;
}
.icons {
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}
.title {
  width: 100%;
  color: #393e46;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: start;
  font-size: small;
  border-bottom: 0.5px solid rgb(67, 67, 67, 0.2);
}

.journalTitle {
  border: none;
  font-weight: 600;

  font-weight: bolder;
  font-family: "Montserrat";
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #eeeeee;

  color: #393e46;
}

