@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

.gutter:hover {
  cursor: col-resize;
  background-color: #393e46;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffd369;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393e46;
}


.deleteIcon:hover{
  transform: rotate(20deg);
color: #FF4A4A;
}



